.card:hover
  box-shadow: 2px 2px 10px 5px #ddd
  cursor: pointer

.card-img-wrap
  display: flex
  justify-content: center
  width: 100%
  max-height: 165px
  overflow: hidden
  align-items: center

.recipe-rating
  font-size: .8rem
  text-align: right

.recipe-rating svg
  color: #ded75d

.stars-group
  display: inline-block
  padding: 0 .7rem 0 .2rem