@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
    
header
  border-bottom: 7px solid #ded75d

header.bg-dark
  background-color: #afde87  !important

.header-title
  font-family: 'Dancing Script', cursive
  font-size: 5.5rem
